<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сотрудник</title>

    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/employee.css">
</head>
<body>
    <div id="header"></div>
    <script src="../js/header.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h2 class="employee_name"></h2>
            </div>
            <div class="col-2">
                <button class="edit">Редактировать</button>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th scope="row">Должность</th>
            <td class="tab_position"></td>
        </tr>
        <tr>
            <th scope="row">Ученая степень</th>
            <td class="tab_academic_degree"></td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td class="tab_email"></td>
        </tr>
        <tr>
            <th scope="row">Преподаваемые дисциплины</th>
            <td>
                <div class="row">
                    <div class="col-11" id="discipline_list">
                    </div>
                    <div class="col-1" id="discipline_img">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Образование</th>
            <td class="education"></td>
        </tr>
        <tr>
            <th scope="row">Область профессиональных интересов</th>
            <td class="interests"></td>
        </tr>
        <tr>
            <th scope="row">Публикации</th>
            <td class="publications"></td>
        </tr>
        <tr>
            <th scope="row">Другие сведения</th>
            <td></td>
        </tr>
        </tbody>
    </table>
    <script src="../js/employee_data.js "></script>
</body>
</html>