<link rel="stylesheet" href="../css/header.css">
<header>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1>СПбГЭТУ "ЛЭТИ" </h1>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col">
                        <a href="#">Статистика</a>
                    </div>
                    <div class="col">
                        <a href="/">Список факультетов</a>
                    </div>
                    <div class="col">
                        <a href="#">Импорт\экспорт</a>
                    </div>
                    <div class="col">
                        <a href="/search">Поиск по преподавателям</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>