.list_faculties{
    margin-top: 30px;
}

.page_title{
    text-align: center;
    margin-top: 20px;
}

.fa-minus, .fa-plus{
    size: 26px;
    color: #9370DB;
}

li {
    list-style-type: none;
    font-size: 20px;
}

.departments{
    font-size: 22px;
    text-align: left;
}