header{
    background-color: #9370DB;
    height: 80px;
    padding: 15px;
}
a{
    text-align: center;
    display: block;
    color: black;
    font-size: 17px;
}

a:hover{
    color: black;
}

.list_faculties{
    margin-top: 30px;
}

.page_title{
    text-align: center;
    margin-top: 20px;
}

.fa-minus, .fa-plus{
    size: 26px;
    color: #9370DB;
}

li {
    list-style-type: none;
    font-size: 20px;
}